# Class 1 Bonus Content
For people who want to work ahead, here is some additional stuff to learn.

In [ ]:
# in a Jupyter Notebook like this, you can also skip the command "print" and just do the calculation
1+1

In [ ]:
# but you can only display one result per cell unless you use "print"
# this will only print the last calculation, 3+3=6
1+1
2+2
3+3

In [ ]:
# but if we use "print" for all of them, they all get printed
print(1+1)
print(2+2)
print(3+3)

In [ ]:
# with math, you can use spaces or not, you get the same thing
print(1+1)
print(1 + 1)
print(1      + 1)

Variable names can't be reserved words, such as "print", or you will break things

In [ ]:
# calling a variable "print" means we can't use the function "print" anymore :(
print = 'test'
print(print)

In [ ]:
# delete that variable to be able to print again
del print
print('test') # phew, it works again

In [ ]:
# indentation matters in Python
if 3 == 4:
  print('This will not print because 3 is not equal to 4')
print('This will always print because it is not indented')

In [ ]:
# printing variables inline with f string format
current_year = 2023
print(f'The year is {current_year}')

### Variable Types
Let's look at the type of data each variable is.

In [ ]:
# string is any text
var1 = 'a name'
type(var1)

In [ ]:
# integer is any number without decimals
var2 = 123
type(var2)

In [ ]:
# float is any number WITH decimals
var3 = 0.5
type(var3)